{% extends "base.html" %}

{% block content %}

<div class="container">

    <div class="auth-card">

        <h2> Welcome Back</h2>

        <p>Login to continue your fitness journey.</p>

        <form action="{{ url_for('login') }}" method="POST">

            <div class="form-group">

                <label>Email</label>

                <input
                    type="email"
                    name="email"
                    placeholder="Enter your email"
                    required>

            </div>

            <div class="form-group">

                <label>Password</label>

                <input
                    type="password"
                    name="password"
                    placeholder="Enter your password"
                    required>

            </div>

            <button class="btn" type="submit">
                Login
            </button>

        </form>

        <p class="auth-link">
            Don't have an account?
            <a href="{{ url_for('register') }}">Register</a>
        </p>

    </div>

</div>

{% endblock %}